html{
    height: 100%;
}
body{
   
    min-height: 100%;
   
   
   
   background-color: black;
}
#p_shb{
    width:25vw;float:left;
}
#p_lsy{
    width: 23vw;float: left;padding-left: 2vw;
}
.clear{
    clear: both;
}
body,html{
    margin: 0;
    padding: 0;
}
.container{
    
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    border: 5px solid white;
    position: absolute;
    overflow: hidden;
    zoom: 1;

}
#home{
           position: relative;
}


@media screen and (min-width: 1010px) {
    #w_lsy{
        display: none;
    }
    .layouts div.r_title img{
        width: 5vw;
        position: fixed;
        top: 155px;
        right: -5px;
    }
    .service.layouts{
      }
    .gallery{
    }
    .text p{
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 3rem;
    }
    div.layouts .whitecontent img{
        position: absolute;
    top: auto;
    bottom: 50px;
    left: 50px;
    z-index: 0;
    width: 3vw;
    }
    div.layouts .whitecontent .mixer img{
        position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    z-index: 0; 
    display: block;
    margin: 0 auto;
    width: 50%;
    }
    #sign_lsy,#sign_shb{
        width:200px;
    }
    #sign_lsy{
        position: absolute;
        display: block;
        top: -120px;
        left: 50px;
        
    }
    #sign_shb{
        position: absolute;
        display: block;
        top: -144px;
        left: 50px;
    }
    /* 白色底部 */
    .whitecontent{
        padding-bottom: 50px;
        background-color: white;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding-top: 50px;
        /* padding: 0px 1% 0 30%; */
        color: black;
        float: left;
    }
    
    .mixer{
        position: relative;
        width: 25vw;
        padding: 0 10px;
        float: left;
    }
    #shb{
        left: 38vw;
    }
    #lsy{
        left: 38vw;
    }
    .layouts{
        position: relative;
        padding-top: 150px;
        min-height: 100vh;
        height: auto;
        overflow-x: hidden;
    }
    .text::after{
        content: "020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
    }
    /* 导航通用 */
nav .active>a,nav a:hover{
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 800;
}
.text h1{
    margin-top: 50px;
    font-size: 3rem;
    margin-bottom: 0;
}
    .text{
        border: solid white;
        padding-bottom: 80px;
        left: 38vw;
        border-width: 50px 5px 0;
        color: white;
        padding-left: 50px;
        width: 50vw;
        position: relative;
        /* float: left; */
        background-color: rgba(0,0,0,0.5);
        margin-top: 50px;
        font-family: '微软雅黑';
        font-size: 1rem;
    }
    
    #contactus.text{
        height: 25vw;
        border-bottom:5px white solid; 
    }
    
    .layouts>img{
        position: fixed;
        top: 230px;
    width: 45%;
    z-index: -5;
    }
    .mixer h1{
        font-weight: 800;
    }
    .mixer .detail{
        padding: 0 2vw 0 0;
    font-size: 1rem;
    line-height: 1.2rem;
    }
    #aboutus{
        
    }
    /* 导航栏 */
    #mobile_icon{
        display: none;
    }
    nav{
        position: fixed;
        bottom:50px;
        box-sizing: border-box;
        height: 50px;
        width: 100%;
        display: block;
        border: 5px solid white;
        border-bottom: 0px;
        z-index: 1000;
    }
    .title{
        box-sizing: border-box;
        width: 20%;
        float: left;
        line-height: 45px;
        text-align: center;
    }
    .title a{
        background-color: rgba(0,0,0,0.75);
        text-decoration: none;
        display: block;
        color:white;
        height: 45px;
        font-size: 16px;
        font-weight: 800;
        border-right: 5px solid white; 
    }
    .title:last-child a{
        border-right:0;
    }
   
    .header i{
        display: none;
    }
       #home .swiper-pagination{
           position: fixed;
          
       }
       
       #home .swiper-button-prev,#home .swiper-button-next{
           position: fixed;
           opacity: 0.5;
           bottom: 170px;
       }
       #home .swiper-button-prev:hover,#home .swiper-button-next:hover{
        opacity: 1;
    }
    #home img{
        
        width: 100vw;
    }
    .header{
        z-index: 100;
        background-color:rgba(0,0,0,0.75);
        box-sizing: border-box;
        border:5px solid rgba(255,255,255,1);
        top:0;left: 0;
        position: fixed;
        width: 100%;
        border-bottom: 5px solid white;
        height: 160px;
    }
    .header img{
        margin: 25px 30px;
        height: 100px;
    }
    .footer{
        position: fixed;
        bottom: 0;
        height: 50px;
        box-sizing: border-box;
        width: 100%;
        bottom: 0;
        border: 5px solid white;
        box-sizing: border-box;
        left: 0;
        z-index: 100;
    }
    .footer .line{
        position: relative;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        background-color: rgba(0,0,0,0.75);
        
    }
    .container a:hover{
        color:black;
        
        background-color: white;
    }
    .container a:hover span.more{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
       right: 30px;
       background: url(../img/icon-black.png) center no-repeat;
       background-size: 2rem 2rem;
    width: 2rem;
    height: 2rem;
    }
    .container a.first{
        border-top: 5px solid white;
    }
    .container a.last{
        border-bottom: 5px solid white;
    }
    .container a{
        display: block;
        border: solid white;
        background-color: rgba(0,0,0,0.75);
        margin: 0;
        left: 38vw;
        border-width: 2.5px 5px;
        color: white;
        width: 50vw;
        position: relative;
        /* float: left; */
        padding: 2rem 0 2rem 50px;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        text-decoration: none;  
    }
    .container .showdetail{
        display: none;
        position: relative;
        
        background-color: white;
        color:black;
    }
    .showdetail.bordertop{
        border-top: 5px solid black;
    }
    .container .showdetail .textdetail h1{
        line-height: 1.6rem;
    }
    .container .showdetail .textdetail{
        position: relative;
        left: 40vw;
        padding:8rem 0 2rem 30px;
        font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.3rem;
    }
    .showdetail span{
        position:absolute;
        cursor: pointer;
        top: 15px;
        right: 15px;
        background: url(../img/icon-black.png) center no-repeat;
        width: 2rem;
        background-size: 2rem 2rem;
        height: 2rem;
        transform: rotate(45deg)
    }
    .container .showdetail img{
        position: absolute;
    top: auto;
    bottom: 50px;
    left: 50px;
    z-index: 0;
    width: 10vw;
    }
    .container a span.more{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
       right: 30px;
       background: url(../img/icon.png) center no-repeat;
       background-size: 2rem 2rem;
    width: 2rem;
    height: 2rem;
    }
    
    #showphoto{
        position: fixed;
        top: 0;
        left: 5px;
        right: 5px;
        bottom: 0;
        background-color:rgba(0,0,0,0.9);
        display: none;
    }
    #showphoto>#showimg{
        position: relative;
        top:25%;
        width: 50%;
        margin:0 auto;
        display: block;
        z-index: 10;
    }
    #gallery.text{
        padding-bottom: 50px;
        border-bottom: 5px solid white;
        margin-bottom: 145px;
    }
    #gallery .minphoto{
        position: relative;
        top: 0;
        padding: 50px 50px 0px 0;
        width: calc(50% - 50px);
        display: inline-block;
        z-index: 0;
        cursor: pointer;
    }
  .bg_black{
      height: 150px;
      background-color: black;
      clear: both;
  }
    .footer p{
        line-height: 40px;
        text-align: center;
        color: white;
        padding: 0;
        border-bottom: 5px solid white;
        font-size: 0.3rem;
        margin: 0 auto;
    }
    #p_img{
        display: block;

    }
    #m_img{
        display: none;
    }
}
@media screen and (max-width:1010px){
   /* 导航通用 */
nav .active>a,nav a:hover{
    background-color: white;
    color: black;
    font-size: 23px;
    font-weight: 800;
}
    
    nav{
        display: none;
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        padding:80px 0 25px; 
        height: 100%;
        z-index: 6;
    }
    .title{
        height: 20%;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
    }
    .title a{
        font-size: 23px;
    font-weight: 800;
    padding-top: 5px;
        text-decoration: none;
        color:white;
        background-color:rgba(0,0,0,0.75);
        display: block;
        height: 100%;
        box-sizing: border-box;
        border: 5px solid white;
        border-top:0;
    }
    .title:last-child a{
        border-bottom:0;
    }
    .header{
        z-index: 100;
        background-color:rgba(0,0,0,0.75);
        box-sizing: border-box;
        border:5px solid rgba(255,255,255,1);
        top:0;left: 0;
        position: fixed;
        width: 100%;
        border-bottom: 5px solid white;
        height: 80px;
    }
    .header i{
        color:white;
        position: absolute;
        bottom:40px;
        left: auto;
        right:40px;
        cursor: pointer;
    }
    #home img{
        position: relative;
        /* margin: 0 auto; */
        display: block;
        height: 100vh;
    }
    .header img{
        height: 50px;
        display: inline-block;
        position: absolute;
        bottom: 10px;
        left: 10px;
        
    }
    #home .swiper-pagination{
        display: block;
        /* left: 500px; */
    }
    
    #home .swiper-button-prev,#home .swiper-button-next{
        display: none;
    }

    .footer{
        position: fixed;
        bottom: 0;
        height: 30px;
        box-sizing: border-box;
        width: 100%;
        bottom: 0;
        border: 5px solid white;
        box-sizing: border-box;
        left: 0;
        z-index: 100;
    }
    #mobile_icon{
        right:10px;
        height: 25px;
        left: auto;
    }
    .footer .line{
        position: relative;
        width: 100%;
        height: 20px;
        box-sizing: border-box;
        background-color: rgba(0,0,0,1);
        
    }
   .footer #index.line{
    position: relative;
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.5);
    
}
    
    
    .footer p{
        line-height: 20px;
        text-align: center;
        color:white;
        padding: 0;
        font-size: 0.1rem;
        margin: 0 auto;
    }
    /* aboutus */
    .layouts{
        position: relative;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    }
    .container.layouts>img{
        height: 100vh;
        left: -30%;
        position: fixed;
        z-index: -5;
    } 
    #p_img{
        display: none;
    }
    #m_img{
        display: block;
    }
    .r_title{
        position: fixed;
        width: 100%;
        height: 48px;
        bottom:30px;
        background-color:white;
        z-index: 5;

    }
    .r_title>img{
        position: absolute;
        bottom:0;
        height: 40px;
    }
    .text{
        border: solid white;
        border-width: 0px;
        color: white;
        padding-left: 10px;
        width: 50vw;
        position: relative;
        padding-bottom: 40px;
        /* float: left; */
        width: 100%;
        background-color: rgba(0,0,0,0.75);
        margin-top: 70px;
        font-family: '微软雅黑';
        font-size: 1rem;
    }
    .text h1 {
        padding-top: 10px;
        font-size: 3rem;
        margin-bottom: 0;
    }
    .text p {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 3rem;
    }
#p_lsy{display: none;}
.whitecontent{
    background-color: white;
}
.mixer {
    position: relative;
    width: 100vw;
    padding: 60px 15px 50px 10px;
    box-sizing: border-box;
}
#sign_shb {
    position: absolute;
    display: block;
    width: 150px;
    top: -70px;
}
#sign_lsy{
    position: relative;
    display: block;
    width: 150px;
}
.m_photo {
    position: relative;
    width: 150px;
}
.bg_black{
    height: 95px;
    background-color: black;
    clear: both;
}
#lsy{
    padding-top:0;
}
#w_lsy{
    display: none;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0 0 0.4rem;
}
.container a {
    display: block;
    border: solid white;
    background-color: rgba(0,0,0,0.75);
    margin: 0;
    box-sizing: border-box;
    border-width: 2.5px 0px;
    color: white;
    width: 100%;
    position: relative;
    padding: 2rem 0 2rem 10px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    text-decoration: none;
}
.container a.first {
    border-top: 5px solid white;
}
.container a.last {
    border-bottom: 5px solid white;
}
.showdetail>img{
    display: none;
}
.container a span.more {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background: url(../img/icon.png) center no-repeat;
    background-size: 2rem 2rem;
    width: 2rem;
    height: 2rem;
}
.container .showdetail {
    display: none;
    position: relative;
    background-color: rgba(0,0,0,0.9);
    color: white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
.container .showdetail img {
    display: none;
}
.container .showdetail .textdetail {
    position: relative;
   
    padding: 2rem 0 6rem 10px;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.3rem;
}
.container .showdetail .textdetail h1 {
    line-height: 1.6rem;
}
.showdetail span {
    position: absolute;
    cursor: pointer;
    top: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 2rem;
    background: url(../img/icon.png) center no-repeat;
    width: 2rem;
    background-size: 2rem 2rem;
    height: 2rem;
    transform: rotate(45deg);
}
.showdetail.bordertop {
    border-top: 5px solid black;
}
#gallery .minphoto {
    width: 100%;
    padding:0 5% 5% 0;
}
#gallery .minphoto:first-child{
    
    padding-top: 0%;
}
#gallery{
    padding:5% 5%;
    width: 90%;
}
#showphoto {
    position: fixed;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    display: none;
}#showphoto>#showimg {
    position: relative;
    top: 25%;
    width: 90%;
    margin: 0 auto;
    display: block;
    z-index: 10;
}
#m_foot{
    height: 50px;
}
}
