html{
    height: 100%;
}
body{
   
    min-height: 100%;
   
   
   
   background-color: black;
}
body,html{
    margin: 0;
    padding: 0;
}
.container{
    z-index: 2;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
}
.border{
    border: 5px solid white;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}





@media screen and (min-width: 1010px) {
    #home img{
        height: 100vh;
        width: 100vw;
    }
    .header{
        z-index: 100;
        background-color:rgba(0,0,0,0.5);
        box-sizing: border-box;
        border:5px solid rgba(255,255,255,1);
        top:0;left: 0;
        position: fixed;
        width: 100%;
        border-bottom: 5px solid white;
        height: 160px;
    }
    .header img{
        margin: 30px;
    }
    .footer{
        position: fixed;
        bottom: 0;
        height: 100px;
        box-sizing: border-box;
        width: 100%;
        bottom: 0;
        border: 5px solid white;
        box-sizing: border-box;
        left: 0;
        z-index: 100;
    }
    .footer .line{
        position: relative;
        width: 100%;
        height: 42.5px;
        box-sizing: border-box;
        background-color: rgba(0,0,0,0.5);
        
    }
    .footer .line .title{
        box-sizing: border-box;
        width: 20%;
        float: left;
        line-height: 42.5px;
        text-align: center;
    }
    .footer>.line .active>a{
        background-color: white;
        color: black;
    }
    .title a{
        text-decoration: none;
        display: block;
        color:white;
        height: 42.5px;
        font-size: 16px;
        font-weight: 800;
        border-right: 5px solid white; 
    }
    .title:last-child a{
        border-right: 0;
    }
    .footer hr{
        margin: 0;
        padding: 0;
        border: 2.5px solid white;
    }
    .footer p{
        line-height: 42.5px;
        text-align: center;
        color:white;
        padding: 0;
        font-size: 0.3rem;
        margin: 0 auto;
    }
}
@media screen and (max-width:1010px){
    
}
